<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div>
      <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div>
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef523713d42001159a011'">출결관리 안내</a>
      </div> -->
      <br class="d-block d-sm-none">
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef50a713d42001159a010'">온라인 평점</a>
      </div> -->
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef4efc8a06a0011726bbf'">이용약관</a>
      </div>
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        [03087] F3, 22, Myeongnyun-gil, Jongno-gu, Seoul, Republic of Korea<br>
        Tel:+82-2-3675-2194,6 Fax :+82-2-3675-2195,7 e-mail : kotry@kotry.org<br>
        COPYRIGHT © 2014 KOREAN ORGAN TRANSPLANTATION REGISTRY ALL RIGHTS RESERVED.
      </div>
    </div>
  </div>
</footer>