/* sponsor item layout */

.sponsor-wrapper {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  figure {

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 101px;
      padding: 0 16px;

      img {
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
      }
    }
  }
}

/* sponsor item content */

.sponsor-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 16px;
  background: var(--gray9);
  min-height: 74px;
  max-height: 74px;

  >p {
    margin-bottom: 2px;
    font-size: 1.25rem;
  }

  span {
    display: inline-block;
  }

  .item-name {
    font-size: 1.2rem;
    font-weight: bold;
    word-break: break-all;
    line-height: 1.2em;
    margin-bottom: 4px;

    &.center {
      text-align: center;
    }
  }
}

.modal.detail-modal .modal-content .modal-body {
  overflow: auto;

  /* modal content */
  figure {
    display: flex;
    position: relative;
    padding: 24px;
    max-height: 100%;
    margin: 0;
    text-align: center;

    .image-wrapper {
      flex: 0 0 36%;
      align-self: center;
      max-width: 36%;
      min-height: 13vh;
      max-height: 100%;
      margin-right: 16px;

      img {
        width: auto;
        height: auto;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }

  a {
    display: block;
  }

  .item-info {
    position: absolute;
    left: 37%;
    top: 24px;
    min-width: 200px;
    flex-basis: auto;
    min-height: 80px;
    font-size: 1.33rem;
    text-align: left;

    .home-link {
      margin-bottom: 28px;
      padding-left: 16px;
      color: var(--gray16);
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;

      &:hover {
        color: var(--blue3);
        // font-weight: 600;
        text-decoration: underline;

      }
    }

    >p {
      font-size: 1.25rem;
    }

    .item-name {
      margin-bottom: 8px;
      padding-left: 16px;
      padding-right: 40px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }
  }

  .item-inner {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .attachments {
    // position: absolute;
    padding-top: 80px;
    color: var(--gray16);
    font-size: 1.33rem;
    text-align: left;

  }

  .download {
    display: inline-flex;
    min-width: 137px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    color: var(--gray16);
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    border: 1px solid var(--gray25);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &:hover {
      color: var(--blue8);
      font-weight: 600;
      text-decoration: underline;
    }

    /*클립아이콘*/
    .icon-clip {
      display: inline-block;
      width: 11px;
      height: 22px;
      margin-right: 8px;
      background-image: url('/assets/img/icon-clip.png');
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
    }

    .ellipsis {
      max-width: 100px;
      padding-left: 5px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .item-desc {

    display: flex;
    justify-content: center;
    padding: 0 24px;
    font-size: 1.33rem;

    &>p {
      margin-bottom: 0;
      word-break: break-all;
    }

    .image-item {
      margin-right: 16px;
    }
  }
}

/* 스템프투어 당첨 이벤트 모달 */

.win-alert-btn {
  display: none;
}

.win-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 516px;
    max-width: 90%;
    background: var(--gray23);

    .modal-title {
      color: var(--white);
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.5rem;
        color: var(--yellow1);
      }

      p {
        padding: 8px 0;
        font-size: 1.5rem;
        color: var(--white);
      }

      .example {
        font-size: 1.0rem;
      }

      .ask-confirm {
        display: flex;
        place-content: center;
        font-size: 1.0rem;
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.0rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue2);

      &.in {
        background: var(--blue5);
      }

      &.out {
        background: var(--red);
      }
    }
  }
}


@media (max-width: 1024px) {

  figure {
    flex-wrap: wrap;
  }


  .modal.detail-modal .modal-content .modal-body .item-info {

    min-height: 15vh;
  }
}

@media (max-width: 991px) {

  .modal.detail-modal .modal-content .modal-body .item-inner {
    flex: none;
    max-width: 100%;
  }

  .modal.detail-modal .modal-content .modal-body .attachments {
    width: 100%;
    min-width: 300px;
    padding-top: 0;

    .download {
      width: 100%;
      max-width: 270px;
    }

    .ellipsis {
      display: inline-block;
      width: 100%;
      max-width: 90%;
      vertical-align: middle;
    }
  }
}

@media (max-width: 768px) {

  .modal.detail-modal .modal-content .modal-body figure .image-wrapper {
    min-width: 117px;
    height: 10vh;

    img {
      max-height: 100%;
    }
  }

  .modal.detail-modal .modal-content .modal-body .download {
    display: block;
    max-width: 100%;
  }

  .sponsor-wrapper {
    figure {
      .image-wrapper {
        height: 74px;
      }
    }
  }
}

@media (max-width: 414px) {

  .modal.detail-modal .modal-content .modal-body .download {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 360px) {

  .modal.detail-modal .modal-content .modal-body figure .item-info {
    left: 133px;

    .item-name {
      padding-right: 50px;
    }
  }

  .modal.detail-modal .modal-content .modal-body .attachments {
    min-width: 260px;
  }

}
