.timetable-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  // max-height: 1490px;
  // min-height: 100%;
  // background-image: url('/assets/img/program-bg.png');
  // background-size: contain;
  // background-position: center 131px;
  // background-repeat: no-repeat;

  .timetable {
    text-align: center;

    .timetable-image {
      cursor: pointer;
      max-height: 1071px;
    }
  }

}

.timetable-nav {
  font-size: 1.33rem;

  .timetable-title {
    height: 64px;
    line-height: 64px;
    background: var(--gray6);
    text-align: center;
  }

  .timetable-list {
    margin-bottom: 48px;
    border: 1px solid var(--gray22);
  }

  .content-inner {
    display: flex;
    justify-content: center;
    max-width: 780px;
  }

  .nav-item {
    flex: 0 0 30%;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    height: 64px;
    background: var(--white);
    border: 1px solid var(--gray22);

    &>a {
      display: block;
      // font-size: 1.33rem;
      color: var(--navy);
      line-height: 64px;
      text-align: center;
      text-decoration: none;

      &.active {
        color: var(--white);
        background: var(--navy);
      }
    }
  }
}

.timetable {
  .timetable-label {
    margin-bottom: 8px;
    color: var(--red);
    font-size: 1.2rem;
  }

  table {
    max-width: 877px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;

    th,
    td {
      padding: 5px 10px 4px;
    }

    th {
      position: relative;
      background: var(--darkBlue);
      color: var(--white);
      font-size: 1.1rem;
      font-weight: 700;
      text-align: center;
      border: 1px solid #ccc;

      .channel-btn {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 999;
        outline: none;
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
          transition: all 0.5s;
        }
      }
    }

    td {
      height: 40px;
      color: var(--gray17);
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      text-align: center;
      background: var(--white);
      border: 1px solid #ccc;

      &.right {
        text-align: right;
      }

      &.type01 {
        background: var(--yellow3);
      }

      &.type02 {
        background: var(--purple2);
      }

      &.type03 {
        background: var(--skyBlue);
      }

      &.type04 {
        background: var(--pink3);
      }

      &.type05 {
        background: var(--green3);
      }

      &.type06 {
        color: var(--white);
        background: var(--darkBlue);
      }

      &.day {
        background: #0078d6;
        color: #fff;
      }

      &>p {
        line-height: 1.2;
        text-align: left;
        word-break: break-all;

      }

    }
  }
}


@media(max-width: 767px) {
  .timetable {
    .timetable-label {
      margin-bottom: 4px;
      font-size: 1rem;
    }

    table {

      th,
      td {
        font-size: 1rem;
      }

    }
  }
}

@media(max-width: 575px) {

  .timetable-nav {
    // font-size: 1rem;
    // letter-spacing: -0.5px;

    .timetable-title {
      height: 40px;
      line-height: 40px;
    }

    .nav-item {

      &>a {
        line-height: 32px;
      }
    }
  }

  .timetable {
    table {

      th,
      td {
        padding: 4px 8px;
        font-size: 0.6rem;
      }
    }
  }
}