<div class="player-wrapper">
  <div class="player">
    <div id="Container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
      <iframe id="UstreamIframe" width="100%" height="100%" src="https://www.ustream.tv/embed/1524" allowfullscreen
        webkitallowfullscreen frameborder="0" style="position:absolute; top:0; left: 0"></iframe>
    </div>
  </div>
</div>
