<div class="content-body">
  <div class="banner-wrapper">
    <div class="m-banner-image" [style.backgroundImage]="'url(assets/img/banner.png)'"></div>
    <img [src]="'assets/img/banner.png'" role="img" alt="banner image">
  </div>
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="login-title">
        <div>
          Get access to KOTRY2020.
        </div>
        <div>
          Login Now.
        </div>
      </div>
      <div class="login-form">
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input name="email" type="text" id="email" [(ngModel)]="member.email" (keyup.enter)="login()" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input name="password" type="password" id="password" [(ngModel)]="member.password" (keyup.enter)="login()" />
        </div>
      </div>
      <div class="login-bottom">
        <div class="password-error">
          <span>{{passwordError}}</span>
        </div>
      </div>
      <!-- <div class="regist-button">
        <button [routerLink]="'../registration'">Registration</button>
      </div> -->
      <div class="submit-button">
        <button (click)="login()">LOGIN</button>
      </div>
    </div>
  </div>
</div>

<!-- <button #policyAlertBtn class="policy-alert-btn" data-toggle="modal" data-target="#policyAlert">
  Policy modal open
</button> -->

<!-- Entry modal -->
<!-- <div class="modal policy-alert fade" id="policyAlert" data-backdrop="static" role="dialog" aria-labelledby="policyAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          대한신경외과학회 추계학술대회 강의 동영상 유출 방지 동의서
        </div>
        <div class="modal-description">
          <p class="mb-2">
            대한신경외과학회 추계학술대회 강의 동영상 유출 방지 동의서는 대한신경외과학회
            추계학술대회 용으로 제작된 강의 영상 내의 개인정보 보호와 영상의 저작권 보호를
            목적으로 합니다.<br><br>
            1. 추계학술대회 동영상은 대한신경외과학회 추계학술대회 목적으로 제작된
            영상이므로, 목적 외의 용도로 활용하여서는 아니된다.<br><br>
            2. 학술대회 모든 참가자는 추계학술대회 동영상을 참가자(본인)를 제외한 제3자에게
            제공하여서는 아니된다.<br><br>
            3. 학술대회 모든 참가자는 대한신경외과학회 홈페이지 또는 그 외의 인터넷 서버를
            통하여 제공된 동영상을 불법 다운로드 및 재촬영 하여 개인 컴퓨터 및 저장 장치에
            사유하여서는 아니된다.<br><br>
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#policyAlert"
          (click)="goToMain()">
          이에 동의합니다.
        </button>
        <label class="mb-2 ask-confirm">
          **동의하지 않을 경우 대한신경외과학회 추계학술대회 참가 불가능합니다.
        </label>
      </div>
    </div>
  </div>
</div> -->
