<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <div class="title-wrapper">
          <h2>Part I. 연구간호사교육세션</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Part i']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Part II. 2020 KOTRY Symposium</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0" *ngIf="speakers['Part ii']">
            <!-- <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Part ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div> -->
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'">
              <app-speaker [speaker]="speakers['Part ii'][8]"></app-speaker>
            </div>

            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'">
              <app-speaker [speaker]="speakers['Part ii'][0]"></app-speaker>
            </div>

            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'">
              <app-speaker [speaker]="speakers['Part ii'][1]"></app-speaker>
            </div>

            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'">
              <app-speaker [speaker]="speakers['Part ii'][7]"></app-speaker>
            </div>

            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'">
              <app-speaker [speaker]="speakers['Part ii'][2]"></app-speaker>
            </div>

            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'">
              <app-speaker [speaker]="speakers['Part ii'][3]"></app-speaker>
            </div>

            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'">
              <app-speaker [speaker]="speakers['Part ii'][4]"></app-speaker>
            </div>

            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'">
              <app-speaker [speaker]="speakers['Part ii'][5]"></app-speaker>
            </div>

            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'">
              <app-speaker [speaker]="speakers['Part ii'][6]"></app-speaker>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>