<div class="content-body">
  <app-program-nav [dates]="dates" [rooms]="rooms" [selected]="selected" (setDateFn)="setAgendaList($event, rooms[0])"
    (setRoomFn)="setAgendaList(selected.date, $event)"></app-program-nav>
  <div class="content-inner" *ngIf="agenda && agenda.contents">
    <app-player [content]="agenda.contents" [isAgendaDetail]="true"></app-player>
  </div>

  <!-- Agenda -->
  <div class="content-inner" *ngIf="agenda && agenda.contents">
    <div *ngIf="agenda.isSession; else isAgenda">
      <app-session [session]="agenda"></app-session>
    </div>
    <ng-template #isAgenda>
      <app-agenda [agenda]="agenda" (detailFn)="goDetail($event)">
      </app-agenda>
    </ng-template>
  </div>


  <div class="back-to-list">
    <button (click)="setAgendaList(selected.date, selected.room)">BACK TO LIST</button>
  </div>

</div>